:root {
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-5: hsl(205, 78%, 60%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

html,
body {
  overflow-y: scroll;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  line-height: 1.25;
  font-family: var(--ff-primary);
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*
===========================================================================     
                                  NAVBAR
===========================================================================     
*/

nav {
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
  position: fixed;
  width: 100%;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-3);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

.nav-toggle:hover {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}

.links a {
  color: var(--clr-grey-3);
  font-size: 20px;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}

.links a:hover {
  background: var(--clr-primary-8);
  color: var(--clr-primary-5);
  padding-left: 1.5rem;
}

.links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.show-links {
  height: 9rem;
}

@media screen and (min-width: 800px) {
  .nav-center {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .nav-header {
    padding: 0;
  }

  .nav-toggle {
    display: none;
  }

  .links {
    height: auto;
    display: flex;
  }

  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }

  .links a:hover {
    padding: 0;
    background: transparent;
  }
}

/*
===========================================================================     
                                  ABOUT SECTION
===========================================================================     
*/

#about {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #303841;
  color: #fff;
}

/*
===========================================================================     
                                  PROJECTS SECTION
===========================================================================     
*/

#projects {
  padding: 5em 3em;
}

#projects-title {
  margin-bottom: 2em;
  text-align: center;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 5rem auto;
}

@media (max-width: 400px) {
  .projects-grid {
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  }
}

.project-desc {
  padding: 3em;
  text-align: center;
  font-size: 1.5em;
}

.project {
  border: 1px solid black;
  width: 100%;
  background: var(--main-gray);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.project-title {
  text-align: center;
  font-size: 2rem;
  padding: 2rem 0.5rem;
}

.link-code {
  transition: all 1s;
  color: var(--clr-black);
}

/* .link-code:hover {
  font-size: 30px;
} */

/*
===========================================================================     
                                  CONTACT SECTION
===========================================================================     
*/

#contact {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: #303841;
  color: white;
}

#profil-list {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  height: 100%;
}

@media screen and (min-width: 550px) {
  #profil-list {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }
}

#profil-list li {
  margin: 10px 0;
}

#profil-list li a {
  margin: 10px 0;
  text-decoration: none;
  color: white;
  font-size: 30px;
}

footer {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
